
/*
.dropdown-button {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  cursor: pointer;
  padding: 0 15px;
  box-sizing: border-box;
}

.dropdown-text {
  display: flex;
  align-items: center;
}

.dropdown-indicator {
  display: flex;
  align-items: center;
}

.dropdown-content {
  margin-top: 10px; 
  padding: 10px 10px; 
  display: block;
  position: absolute;
  background-color: #ffffff;
  width: calc(100% - 20px); 
  border: 0.98px solid #e0e0e9;
  border-radius: 15px;
  height: auto; 
  max-height: 300px;
  overflow-y: auto;
  z-index: 1;
  top: 100%;
  left: 10px;
  font-family: "Switzer", sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 19.2px;
  text-align: left;
  color: #282833b2;
  box-shadow: 0px 0px 20px 0px #50589f1a;
}

.dropdown-option {
  padding: 12px 15px; 
  cursor: pointer;
  border-radius: 15px; 
}

.dropdown-option:hover {
  background-color: #f4f4fa;
  border-radius: 12px; 
}
  */